.App {
  text-align: center;
}

article,
section {
  padding: 20px;
  width: 800px;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.checkbox  {
  margin-right: 20px;
}

.todo {
  font-style: 20px;
  margin-right: 20px;
}

.button {
  background: red;
}
